# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
voice_service/venv/
voice_service/voice_service.log
voice_service/.env

# SadTalker dependencies
server/dependencies/SadTalker/
server/dependencies/*/checkpoints/
server/dependencies/*/gfpgan/
*.pth
*.ckpt